<launch>

  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(find simulation)/config/FakeMoveBase/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find simulation)/config/FakeMoveBase/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find simulation)/config/FakeMoveBase/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find simulation)/config/FakeMoveBase/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find simulation)/config/FakeMoveBase/base_local_planner_params.yaml" command="load" />
  </node>
  
</launch>
