<launch> 

 <!--启动导航目标策略-->
 <include file="$(find amcl_odom)/launch/turtlebot_position_in_map.launch" />
   
 <!--启动导航目标策略-->
 <include file="$(find tasks)/launch/cruise_tasks.launch" />
 
 <!--启动机器人标记-->
 <include file="$(find marker)/launch/robot_uni_marker.launch" />
 
 <!--用户交互-->
 <include file="$(find marker)/launch/ui_marker.launch" />
 
 <!--启动3D map的marker节点-->
 <!--<include file="$(find machine)/launch/mapshow.launch" />-->
 <include file="$(find dynamic_3d_view)/launch/dynamic_3d_view.launch" />

 <!--障碍物报警机制-->
 <include file="$(find obstacle_warning)/launch/ObstaclesWarning.launch" />

 <!--pob out image window-->
 <include file="$(find camera_image)/launch/camera_image.launch" />
 
 <!--停止后语音-->
 <include file="$(find simple_voice)/launch/warning_speaker.launch" />
 
 
</launch>

